.form {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-back-form input {
    display: none;
}

.back {
    display: none;
} 