.sidebar {
    width: 70%;
    height: 100vh;
    background-color: #922724;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.sidebar p {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

