.main {
    display: flex;
    min-width: 100vw;
    width: 100vw;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 72px;
    font-family: 'Barlow Condensed';
    margin-top: 10px;
    z-index: 100;
    width: 100vw;
    min-width: 800px;
    height: 80px;
    padding: 10px;

}



@media (max-width: 480px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 480px;
    }

    .icon-container {
        display: none;
    }

    .card-container {
        order: 1;
        height: 40%;
    }

    .title {
        order: 0;
        width: 100vw;
        min-width: 100vw;
        position: relative;
        text-align: center;
        height: 10%;
    }

}


@media (max-width: 1000px) {
    .title {
        font-size: 60px;
    }
}

