.card {
    margin: 1rem;
    width: 740px;
    height: 395px;
    background-color: #DCB190;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2rem;

}

.set-index {
    position: relative;
    z-index: -2;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
        
    }
}

@keyframes flip-back-animation {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}


.flip-result {
    animation-name: flip;
    animation-duration: 1s ;
    animation-direction: reverse;
}


.flip-back {
    animation-name: flip-back-animation;
    animation-duration: 1s;
    animation-fill-mode:forwards ;
}

.flip-home {
    animation-name: flip-back-animation;
    animation-duration: 1s;
    animation-direction: reverse;

}


.flip-card {
    animation-name: flip;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;

}