
 .scales {
    height: 17rem;
    margin-right: 8.5rem;
}

.stadiometer {
    height: 17rem;
    margin-left: 9rem;
} 

@keyframes disappear {
    90% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

.image-disappear {
    position: relative; 
     animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards 
}

.scales-disappear {
    animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;

}

.stadiometer-disappear {
    animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4.8s;

}

