input {
    position: relative;
    z-index: 3;
    margin: 1rem;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: 2px solid black;
}



@keyframes animation-weight {

    0% {
        transform: translateX(-5deg);
      }
      5% {
        transform: translateX(5deg);
      }
      10% {
        transform: rotateZ(-5deg);
      }
      15% {
        transform: rotateZ(5deg);
      }
      20% {
        transform: rotateZ(-5deg);
      }
      25% {
        transform: rotateZ(5deg);
      }
      25% {
        transform: rotateZ(0);
      }
      90% 
      {transform: translateY(200px);
        opacity: 1;
      }
      100% {
        transform: translateY(200px);
        opacity: 0;
        display: none;
      }
}

@keyframes animation-height {
    0% {
        transform: translateX(-5deg);
      }
      5% {
        transform: translateX(5deg);
      }
      10% {
        transform: rotateZ(-5deg);
      }
      15% {
        transform: rotateZ(5deg);
      }
      20% {
        transform: rotateZ(-5deg);
      }
      25% {
        transform: rotateZ(5deg);
      }
      25% {
        transform: rotateZ(0);
      }
      70% {
        transform: translateY(200px);
      }
      90% 
      {transform: translateY(130px);
        opacity: 1;
      }
      100% {
        transform: translateY(130px);
        opacity: 0;
        display: none;
      }


}

.effect-weight {
    animation-name: animation-weight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.effect-height {
    animation-name: animation-height;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}


